body {
  font-family: sans-serif;
}

.container {
  float: none;
  margin: 0 auto;
  border: solid black;
  clear: both;
}

/*.nav a {
  color: white;
  font-weight: bold;
}*/

.header {
  padding-top: 40px;
}

h1 {
  text-align: left;
  font-family: 'Abel', sans-serif;
  padding-left: 20px;
  float:left;
}

.name {
  font-weight: bold;
  font-size: 30px;
}

.nickname {
  font-size: 20px;
  padding-top: 10px;
}

.contact ul {
  text-align: right;
  font-size: 20px;
  list-style-type: none;
  padding: 10px;
  padding-right: 20px;
  float: right;
}

ul {
  list-style-type: none;
  line-height: 1.5em;
}

.reference li {
  font-style: italic;
  font-size: smaller;
  line-height: 15px;
  padding-top: 10px;
}

/*.me img {
  width: 300px;
  clear: both;
  margin-top; 100px;
}*/

/*.col-sm-4 {

}*/

.col-sm-4 h2 {
  text-align: center;
  font-weight: bold;
  padding-bottom: 15px;
}



.projects h2 {
  padding: 30px;
  padding-bottom: 15px;
}

#myCarousel img {
  height: 350px;
  width: auto;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

a:link {
  color: darkblue;
  text-decoration: none;
}

a:hover {
  color: black;
}

a:active {
  color: white;
}

a:visited {
  color: darkblue;
}
